:root{
    --main-bg-color: beige;
    --second-bg-color: rgb(8, 6, 6);
    --main-light-color: rgb(214, 211, 211);
     --type-simple-bg-color:rgb(240, 56, 10);
     --type-luxury-bg-color: black;
     --type-rugged-bg-color:  rgb(22, 68, 22);
     --type-width: 60px;
     --type-height: 30px;  
     --type-color: white;
     --orange-color: rgb(247, 83, 7);
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
}

body{
    height: 100vh;
    background-color: var(--main-bg-color);
}


#root {
    /* background-color: var(--main-bg-color); */
    border-radius: 30px;
    max-width: 480px;
    margin: 0 auto;
    min-height: 100%;
    display: grid;
    grid-template-rows: 12vh 1fr 6vh

}

header {
    color: var(--second-bg-color);
    min-height: 50px;
    max-height: 130px;
    position:sticky;
    top: 0;
    background-color: var(--main-bg-color);
    width: 90%;
    margin: 0 auto;
}

.header-link {
    margin-right: 20px;
    text-decoration: none;
    font-size: 1.15rem;
}



.header-link-login-avatar{
    height: 1.15rem;
    position: relative;
    top: 3px;
}

.header-link.selected, .header-title.selected, .header-link:hover, .header-title:hover {
    font-weight: 800;
    text-decoration:underline;
    color: #161616;
}

.header-title {
    /* margin-left: 30px; */
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}


.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
   
}

.header.logout-btn{
    padding: 0;
    border: none;
    font-size: 1.15rem;
}


.home-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background:  url('../public/images/home-hero.png')  ,rgba(12, 1, 1, 0.685) ;
    background-size: cover;
    background-blend-mode: overlay;
    color: var(--main-light-color);
    column-gap: 20px;
}

.home-title{
    font-size: 2rem;
    padding: 80px 30px 10px 0;
    width: 90%;
}
.home-text{
    font-size: 1.2rem;
    padding: 30px 30px 15px 0;
    width: 90%;
}

.home-btn, .vanDetail-btn {
    background-color: var(--orange-color);
    width: 90%;
    height: 40px;
    border-radius: 5px;
    color: var(--main-light-color);
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
}

.about-destination-container{
    background-color: rgb(216, 156, 43);
    width: 90%;
    height: 130px;
    margin-top: 20px;
}


.about-container{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.about-title{
    font-size: 2rem;
    padding: 40px 30px 0 0;
    width: 90%;
}

.about-text{
    font-size: 1.2rem;
    padding: 30px 30px 0px 0;
    width: 90%;
}



.about-destination-title-line1{
    padding: 10px 0px 5px 15px;
}

.about-destination-title-line2{
    padding: 0 0px 0 15px;
}

.about-destination-btn{
    background-color: var(--second-bg-color);
    color: rgb(214, 212, 211);
    height: 30px;
    width: 150px;
    border-radius: 5px;
    margin: 15px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-hero-img{
    width: 90%;
}

footer{
    width: 100%;
    background-color:var(--second-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-light-color);
    font-size: 15px;
    min-height: 40px;
    max-height: 60px;
    max-width: 520px;
}

.vans-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    

}

.vans.main-container {
    width: 90%;
    margin: 0 auto;
}

.vans-title{
text-align: center;
margin-bottom: 30px;
/* width: 90%; */
/* margin: 0 auto; */
}

.vans.loading{
    width: 100%;
    margin-top: 50px;
}

.van-container{
    width: 45%;
    margin-bottom: 20px;
    text-decoration: none;
}

.van-image{
    width: 100%;
    
}

.van-name-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
   
}

.van-name{
    font-size: 1rem;
}



.van-type{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.van-type.simple {
    background-color: var(--type-simple-bg-color);
}

.van-type.luxury {
    background-color: var(--type-luxury-bg-color);
}


.van-type.rugged{
    background-color: var(--type-rugged-bg-color);
}

.vans-type-link-container{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 20px;
}

.vans-type-link {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(228, 228, 207);
    font-size: 0.7rem;
   
}

.vans-type-link.simple.selected, .vans-type-link.simple:hover{
    background-color: var(--type-simple-bg-color);
    color: white;
}

.vans-type-link.luxury.selected, .vans-type-link.luxury:hover{
    background-color: var(--type-luxury-bg-color);
    color: white;
}

.vans-type-link.rugged.selected, .vans-type-link.rugged:hover{
    background-color: var(--type-rugged-bg-color);
    color: white;
}

.vans-type-link.clear:hover{
    /* font-weight: 800; */
    text-decoration:underline;
}

.vanDetail-container{
    display: flex;
    justify-content: center;
}

.vanDetail-box{
   width: 90%;
} 

.vanDetail-link{
    text-decoration: none;
   
}


.vanDetail-image{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
}

.vanDetail-title{
    
    margin-top: 10px;
    margin-bottom: 3px;
}

.vanDetail-description{
    margin-top: 17px;
    
}

.vanDetail-btn {
    width: 100%;
}

.vanDetail.loading{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.host-container{
    width: 90%;
    margin: 0 auto;
}

.host-link-container{
    display: flex;
    justify-content: flex-start;
    
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.host-link{
    display: flex;
    /* width: 90px;
    height: 20px; */
    text-decoration: none;
    /* background-color: rgb(228, 228, 207); */
    justify-content: center;
    align-items: center;
    margin-right: 30px;
   
    
}

 .host-link:hover{
    font-weight: 800;
    text-decoration:underline;
    color: #161616;
}

.hostvans-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hostvans.loading{
    margin-top: 10px;
    width: 90%;
}

.hostvans-title{
    margin: 0px auto;
    margin-bottom: 30px;
    width: 90%;
 
}

.hostvans-list-item-box{
    height: 150px;
    background-color: white;
    margin-bottom: 15px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.hostvans-list-box{
    width: 90%;
}



.hostvans-list-item-image{
    height: 80%;
    margin-left: 30px;
    margin-right: 30px;
}



.hostVanDetails-main{
    margin-top: 50px;
    width: 90%;
    margin: 0 auto;
}

.hostVanDetails-flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: white;
    width: 90%;
    margin-top: 30px; */
}

.hostVanDetails-loading{
    
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
   
}


.hostVanDetails-without-backNav{
    background-color: white;
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    padding-bottom: 20px;
    
}


.hostVanDetails-summary-box{
    height: 220px;
    display: flex;
    align-items: center;
}

.hostVanDetails-summary-image{
    width: 40%;
    margin-right: 30px;
    /* margin-left: 25px; */
}

.hostVanDetails-summary-name{
    margin-top: 12px;
    margin-bottom: 3px;
}

.hostVanDetails-details-container{
    /* width: 90%; */
    /* margin: 0 auto; */
    margin-top: 30px;
}

.hostVanDetails-details-category{
    margin-top: 15px;
    margin-bottom: 15px;
}

.hostVanDetails-details-visibility{
    margin-top: 15px;
    margin-bottom: 30px;
}
.back-button{
    /* margin-left: 25px; */
    text-decoration: none;
    
}

.back-button span:hover{
    text-decoration: underline;
    font-weight: bold;
}



.HostVanDetailsLayout-link-container{
    display: flex;
    justify-content: flex-start;
    /* margin: 0 auto; */
    /* width: 90%; */

}

.HostVanDetailsLayout-link{
    text-decoration: none;
    /* margin-top: 20px; */
    margin-right: 20px;
    
}


.HostVanDetailsLayout-link.selected, .HostVanDetailsLayout-link:hover{
    font-weight: 800;
    text-decoration:underline;
    color: #161616;
}




.host-vans-price-container{
    /* width: 90%; */
    /* margin: 0 auto; */
    margin-top: 30px;
    
}

.host-vans-price{
    margin-bottom: 30px;
}

.host-vans-photos-container{
    height: 120px;
    /* width: 90%;
    margin: 0 auto; */
    margin-top: 30px;
    margin-bottom: 30px;
}

.host-vans-photos-container-image{
    height: 90%;
}

.not-found.container{
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
}

.not-found.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    width: 100%;
    height: 40px;
    /* margin: 0 auto; */
    margin-top: 40px;
    color: white;
    background-color: var(--second-bg-color);
    border-radius: 5px;
    
}

/* .error.main {
    width: 90%;
    margin: 0 auto;
} */

.error.message{
    margin-bottom: 20px;
}

.login.container {
    width: 90%;
    margin: 0 auto;
}

.login.title{
    text-align: center;
    margin-bottom: 50px;
}

.login.input {
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--type-luxury-bg-color);
}

.login.btn {
  
    background-color: var(--orange-color);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: var(--main-light-color);
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
}

.login.btn:disabled {
   opacity: 0.4;
}

.login.message {
    color: red;
    /* margin-top: 15px; */
    margin-bottom: 15px;
}

.dashbord.lastdays.container{
    padding-left: 30px;
    padding-right: 30px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: bisque;
}
.dashbord.ladtdays.data{
    font-size: 2rem;
    font-weight: 900;
    margin-top: 20px;
}

.dashbord.lastdays.description{
  margin-top: 20px;
   
}

.dashbord.lastdays.description.span{
    text-decoration: underline;
    font-weight: bold;
   
}

.dashbord.review.container{
    padding-left: 30px;
    padding-right: 30px;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(243, 179, 101);
}

.dashbord.review.text.star{
    color: orange;
    font-size: 1.4rem;
}

.dashbord.review.description{
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 30px;
}

.dashbord.review.score{
    font-weight: 800;
}

.dashbord.vanlist.container{
    padding-left: 30px;
    padding-right: 30px;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

.dashbord.vanlist.text{
    font-size: 1.3rem;
    font-weight: 600;
    /* margin-top: 80px; */
}

.income.lastdays.text{
    
  margin-top: 30px;
  margin-bottom: 30px;
  }

.income.lastdays.text span{
  text-decoration: underline;
  font-weight: 700;

}
.income.lastdays.data{
    font-size: 2rem;
    font-weight: 800;
   
}

.income.chart {
    margin-top: 40px;
}

.income.chart.item {
    width: 100%;
}

.income.transactions.container {
    margin-top: 30px;
}

.income.transactions.text{
    margin-top: 20px;
}

.income.transactions.text span{
    text-decoration: underline;
    font-weight: 700;
    
}

.income.transction.map{
    margin-top: 30px;

}

.income.transaction.amount{
    display: inline;
    /* width: 80px; */
}

.income.transaction.date{
    display: inline-block;
    width: 250px;
}

.reviews.title.container{
   margin-bottom: 40px;
}


.reviews.title.item{
    display: inline;
    margin-right: 50px;
}

.reviews.text{

   display: inline;
}

.reviews.text span{
    text-decoration: underline;
    font-weight: 700;
}

.reviews.user {
    margin-bottom: 10px;
}

.reviews.user.title{
    margin-bottom: 20px;
    margin-top: 30px;
}

.reviews.user.text.name{
    text-decoration: none;
}

.reviews.user.text.date{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    font-style: italic;
}

.reviews.user.stars{
    color: orange;
}

.star{
    color: orange;
    font-size: 1.4rem;
}

@media screen and (max-width: 430px) {

    .header-title {
        font-size: 0.9rem;
    }

    .header-link{
        font-size: 0.9rem;
        margin-right: 10px;
    }

    .header.logout-btn{
        font-size: 0.9rem;
       
    }

    .vans-type-link{
        display: inline-block;
        width:50px;
       
        }


    .van-name-price{
        display: block;
    
        margin-bottom: 5px;
        margin-top: 5px;
       
    }
  }
  